# Member credentials
MEMBER1_NAME="bot1"
MEMBER1_PHONE=""
MEMBER1_PASS=""

MEMBER2_NAME="bot2"
MEMBER2_PHONE=""
MEMBER2_PASS=""

MEMBER3_NAME="Member 3"
MEMBER3_PHONE="01XXXXXXXXX"
MEMBER3_PASS="password3"

MEMBER4_NAME="Member 4"
MEMBER4_PHONE="01XXXXXXXXX"
MEMBER4_PASS="password4"

# Search config
FROM_CITY=Dhaka
TO_CITY=Tarakandi
DATE_OF_JOURNEY=15-May-2026
TICKET_CLASS=S_CHAIR
SEATS_PER_MEMBER=4
PREFERRED_TRAIN=JAMUNA EXPRESS